//
//  ARTICLE DATE
//––––––––––––––––––––––––––––––––––––––––––––––––––

//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$article-date-font-family: $heading-font-family;
$article-date-size: 70px;

//
//  DATE
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-date {
  background: rgba($white, 0.75);
  border-radius: 50%;
  box-shadow: 0 0 0 7px rgba($black, 0.05);
  display: block;
  font-family: $article-date-font-family;
  height: $article-date-size;
  padding: 4px;
  text-align: center;
  width: $article-date-size;
  z-index: $z-index-article-date;
}

//
//  MONTH
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-date__month {
  display: block;
  font-size: rem(14px);
  font-weight: bold;
  letter-spacing: rem(0.5px);
  line-height: 1;
  text-transform: uppercase;
}

//
//  DAY
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-date__day {
  display: block;
  font-size: rem(32px);
  font-weight: bold;
  line-height: 0.8;
  position: relative;
  z-index: 2;
}

//
//  YEAR
//––––––––––––––––––––––––––––––––––––––––––––––––––

.article-date__year {
  display: block;
  font-size: rem(14px);
  font-weight: bold;
}
