---
interface Props {
  classNameSuffix?: string;
  class?: string;
}

const { classNameSuffix, class: extraClass } = Astro.props;

const classes = [
  "row",
  classNameSuffix && `row__${classNameSuffix}`,
  extraClass,
]
  .filter(Boolean)
  .join(" ");
---

<div class={classes}>
  <slot />
</div>
