---
import Container from "../grid/Container.astro";
import Row from "../grid/Row.astro";
import Col from "../grid/Col.astro";
---

<Container>
  <Row>
    <Col sm={12} md={10} offsetMd={1} lg={8} offsetLg={2}>
      <div class="article-body__content">
        <slot />
      </div>
    </Col>
  </Row>
</Container>
