---
import SocialLinks from "./SocialLinks.astro";

const year = new Date().getFullYear();
---

<footer class="site-footer">
  <section class="site-footer__top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="site-footer__social-links">
            <SocialLinks />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="site-footer_developer-credits">
            Built using <a href="https://astro.build/">Astro</a>. Hosted by
            <a href="https://www.netlify.com/">Netlify</a>.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <small class="site-footer__copyright"
            >Copyright © {year} Glenn McComb</small
          >
        </div>
      </div>
    </div>
  </section>
</footer>
