---
import SocialLinks from "./SocialLinks.astro";
import Container from "./grid/Container.astro";
import Row from "./grid/Row.astro";
import Col from "./grid/Col.astro";

const year = new Date().getFullYear();
---

<footer class="site-footer">
  <section class="site-footer__top">
    <Container>
      <Row>
        <Col sm={12}>
          <div class="site-footer__social-links">
            <SocialLinks />
          </div>
        </Col>
      </Row>
    </Container>
  </section>

  <section class="site-footer__bottom">
    <Container>
      <Row>
        <Col sm={12}>
          <p class="site-footer_developer-credits">
            Built using <a href="https://astro.build/">Astro</a>. Hosted by
            <a href="https://www.netlify.com/">Netlify</a>.
          </p>
        </Col>
      </Row>

      <Row>
        <Col sm={12}>
          <small class="site-footer__copyright"
            >Copyright © {year} Glenn McComb</small
          >
        </Col>
      </Row>
    </Container>
  </section>
</footer>
